[% USE q = Qgoda %]
  <body>
    [% INCLUDE partials/body/header.html %]
    <div id="main">
      <article>
        <div class="article-head">
          <h1 class="title">[% asset.title %]</h1>
          [% IF asset.subtitle %]<h2 class="subtitle">[% asset.subtitle | html %]</a></h2>[% END %]
  
          [% IF 'post' == asset.type %]
          <div class="article-subhead">
            <span class="date">[% q.strftime('%B %d, %Y', asset.date) %]</span>
            &nbsp;
            <span class="author">
            [% asset.author %]
            [% IF asset.organization %]- [% asset.organization %][% END %]
            </span>
          </div>
          [% END %]
        </div>
  
        <div class="content"><qgoda-content>[% asset.content %]</qgoda-content></div>
        [% INCLUDE partials/body/taglist.html %]
      </article>
      [% INCLUDE partials/body/nav.html %]
      [% INCLUDE partials/body/aside.html %]
    </div>

    [% INCLUDE partials/body/footer.html %]

    [% INCLUDE functions/scripts.tt %]
  </body>
