body {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: justify;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: normal;
}

h1 {
    font-size: 2.4rem;
    line-height: 3.3rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.404rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 0.996rem;
}

h6 {
    font-size: 0.8576rem;
}

a, a:visited {
    color: #2b689c;
    text-decoration: none;
}

header {
    font-size: larger;
    font-weight: bold;
    color: white;
    background-color: #d97319;
    padding: 1rem;
    margin-bottom: 5rem;
}

header .logo a {
    color: white;
    text-decoration: none;
}

header .logo a:hover {
    text-decoration: underline;
}

ul.listing {
    list-style-type: none;
    padding: 0;
}

ul.listing li .listing-body {
    padding: 1rem;
    border: 1px solid #cccccc;
}

.listing a {
    text-decoration: none;
}

.listing a:hover {
    text-decoration: underline;
}

.listing .read-more {
    color: #2b689c;
    cursor: pointer;
    font-size: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #2b689c; 
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
}

.listing .read-more a {
    font-weight: bold;
}

.listing .read-more span::after {
    content: "\a0\bb";
}

.listing .read-more a:hover {
    color: #2b689c;
}

.author {
    font-size: 75%;
    font-style: italic;
}

.listing .excerpt {
    margin-top: 0;
    margin-bottom: 0;
}

.listing .title {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.listing .subtitle {
    margin-top: 0;
}

.listing .listing-footer {
    background-color: #dddddd;
    border: 1px solid #bbbbbb;
    color: #888888;
    border-top: none;
    padding: 0.75rem;
    margin-bottom: 1rem;
}

.article-subhead {
    color: #888888;
    font-style: italic;
    margin-top: 2rem;
}

.date {
    float: left;
}

.author {
    float: right;
}

.date {
    font-size: 75%;
    font-style: italic;
}

.date::before {
    content: "\1F565\a0";
    font-style: normal;
}

.article-head .title {
    margin: 0;
}

.article-head .subtitle {
    margin: 0;
    padding-top: 0.5rem;
    font-size: 120%;
}

#main {
    margin: 0;
    padding: 0;
    display: flex;
}

#main > article {
    flex: 3 1 50%;
    order: 2;
}

#main > nav {
    flex: 1 6 20%;
    order: 1;
}

#main > aside {
    flex: 1 6 30%;
    order: 3;
    margin-left: 3rem;
    margin-right: 3rem;
}

#main > aside h2:first-child {
    margin-top: 0;
}

#left {
    background-color: yellow;
}

#right {
    background-color: yellow;
}

.content h2:first-child {
    margin-top: 0.5rem;
}

footer {
    font-size: smaller;
    text-align: center;
    background-color: #d97319;
    color: white;
    padding: 0.5rem;
}

.pagination ul {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 1rem;
}

.pagination li {
    list-style-type: none;
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.1rem;
    border-left: 1px solid #cccccc;
}

.pagination li:first-child {
    padding-left: 0;
    border-left: none;
}

.pagination .disabled {
    color: #cccccc;
}

.pagination .active {
    font-weight: bold;
}

article hr {
    color: #888888;
}

article .taglist {
    color: #888888;
    font-size: smaller;
    font-style: italic;
    margin-bottom: 0.5rem;
}

code {
    font-family: Courier, monospace;
    background-color: #dddddd;
}

pre code {
    display: block;
    white-space: pre;
    padding-left: 1rem;
}

/* Table of Contents */
.toc {
    border: 1px dotted #818191;
    background-color: #f7f7f9;
    margin-bottom: 2rem;
    padding: 0.5rem;
    padding-bottom: 0rem;
}

.toc ul {
    list-style-type: none;
}

.toc .toc-title {
    font-weight: bold;
    font-size: 110%;
    padding-bottom: 0.5rem;
}

ul.toclevel-1 {
   padding-left: 0;
}

@media all and (max-width: 640px) {
    #main {
        flex-direction: column;
    }

    #main > article, #main > nav, #main > aside {
        order: 0;
    }
}

@media all and (max-width: 1024px) {
    #main > article {
        flex: 3 1 70%;
        margin-left: 2rem;
    }
    
    #main > nav {
        flex: 1 6 0%;
        order: 1;
    }
    
    #main > aside {
        flex: 1 6 30%;
        order: 3;
        margin-left: 2rem;
        margin-right: 1rem;
    }

    aside {
        text-align: left;
    }

    aside .related-list {
        padding-left: 0;
        list-style-type: none;
    }
}

