[% USE q = Qgoda %]
[% posts = q.listPosts().sortBy('order') %]
[% IF posts.size %]
  [% p = q.paginate(start = asset.start, total = posts.size, per_page = 3) %]
  <ul class="listing">
  [% FOREACH post IN posts.splice(p.start, p.per_page) %]
    <li>
      <div class="listing-body">
      <h3 class="title"><a href="[% post.permalink %]">[% post.title | html %]</a></h3>
      [% IF post.subtitle %]<h5 class="subtitle"><a href="[% post.permalink %]">[% post.title | html %]</a></h5>[% END %]
      <p class="excerpt">[% post.excerpt | html %]</p>
      <form action="[% post.permalink %]" method="GET">
          <button class="read-more"><span>Read more</span></button>
      </form>
      </div>
      <div class="listing-footer">
        <span class="date">[% q.strftime('%B, %d %Y', post.date) %]</span>
        &nbsp;
        <span class="author">
          [% post.author %]
          [% IF post.organization %]- [% post.organization %][% END %]
        </span>
      </div>
    </li>
  [% END %]
  </ul>

  [% IF p.total_pages > 1 %]
  [% SET page = 0 %]
  <div><nav class="pagination" aria-label="Pagination">
    <ul>
      <li class="[% UNLESS p.previous_link %]disabled[% END %]">
        <a href="[% p.previous_link %]">Previous</a>
      </li>

      [% FOREACH link IN p.links %]
      <li class="[% IF page == p.page0 %] active[% END %]">
        <a href="[% p.links.$page %]" tabindex="[% p.tabindices.$page %]">
             [%- page = page + 1 -%]
             [%- page -%]
           </a>
      </li>
      [% END %]

      <li class="[% UNLESS p.next_link %]disabled[% END %]">
        <a href="[% p.next_link %]">Next</a>
      </li>
    </ul>
    [% IF p.next_start %]
      [% q.clone(location = p.next_location start = p.next_start) %]
    [% END %]
  </nav></div>
  [% END %]
[% END %]
